@import "compass/css3";

.reveal .slides {

  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans", sans-serif;
  font-weight: 300;

  img.header-pic {
    border: 0;
    background: none;
    @include box-shadow(none);
  }

  @import "slide-campudus-portfolio", "slide-campudus-overview";
}
