#slide-postillon-campudus {
  height: 100%;
  width: 100%;

  img {
    display: inline-block;
    border: 0;
    background: none;
    @include box-shadow(0px 0px 0px #000);
  }

  .desktop-pic {
    position: absolute;
    margin: 0 auto;
  }

  .mobile-pic {
    float: left;
    left: 0;
    bottom: 0;
  }

  .app-pic {
    float: right;
    right: 0;
    bottom: 0;
  }

}
