#slide-postillon-overview {

  .fragment {
    position: absolute;
    text-align: center;
    width: 100%;

    img {
      border: 0;
      background: none;
      @include box-shadow(0 0 0);
    }

  }

}
