@import "compass/css3/box-shadow";

.slides {

  img.heading {
    border: 0;
    background: none;
    @include box-shadow(none);
  }

  img.postillon-logo {
    border: 5px;
    background: none;
    border-radius: 5px;
    @include box-shadow(#fff 0 0 15px 15px);
  }

  @import "slide-postillon-overview", "slide-campudus-overview", "slide-postillon-campudus", "slide-tech-stack", "slide-labels-in-js", "slide-newsticker";
}
